/*
========================================================================================================================
    ; Title: global css document
    ; Author: Professor Krasso
    ; Modified by: Shane Hingtgen
    ; Bellevue University
    ; Date: 10/18/2022
    ; Description: This is a global css document for some future assignments
    Work Cited:
        Web 231 HTML, CSS, and JavaScript Requirements Exibit A. global.css
============================================================================================================================
  */ 
  body {
    font-family:'Oswald' ;
  }

  #container {
    padding: 10px;
  }


.return-home {
    color: #4f3674;
    text-decoration: none;
    
}

.return-home:hover {
    background-color: #D6A800;
    color: #4f3674;

}

.return-home:visited {
    color: #3C275A;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    margin: 3% auto 0;
    display: inline-grid;
    grid-template-columns: auto;
    width: 600px;
}

.card-title {
    text-align: center;
    color: #4f3674;
    font-weight: 400;
    font-size: 2em;
}

.card-content {
    padding: 2px 16px;

}

.card-content:hover {
    box-shadow: 0 8px  16px rgba(0, 0, 0, .2);
}

.btn {
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
    border-radius: 6px;
}

.btn-primary {
    width: 100%;
    background-color: #4f3674;
    color: white;
}
.btn-primary:hover {
    background-color: #d6a800;
    color: #4F3674;
}

.input {
    padding: 12px 20px;
    margin:  8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.app-header {
    text-align: center;
    /* centers the title for the web page*/
  }


  /* classes and ID's below are from as of 11/08/22 from assignments 3.2 & 4.2, added here as part of DRY Don't Repeat Yourself */
  #form-results {
    width: 600px;
    margin: 3% auto 0;
    text-align: center;
    /* This is where the card will display its results that were inputted in #form-temp */
  }
  
  #temp, #result, #txtAlphabet {
    font-size: 28px;
    /* Font sized for the results in the results card */
  }
  .form {
    display: inline-grid; 
    grid-template-columns: auto;
    padding: 10px;
    /* This is to get the form to look good*/
  }
  
  #form-temp {
    width: 600px;
    margin: 3% auto 0;
    /* This is for the first card with the form and button in it*/
  }
  
  .drop-down-menu {
    padding: 12px 20px;
    margin:  8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* this is the style for the drop-down-menu class within the form-field card for assignment 5.2 */
}

/* tables were brought over from 6.2 and 7.2 as to not to not repeat*/
table  {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

table  th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4f3674;
  color: white;

}

table  th, table  td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table tr:hover {
  background-color: #d6a800;
  color: #4f3674;
  cursor: pointer;
  /*for the gold hover with your pointer */
}