/*
    ========================================================================================================================
    ; Title: Assignment 1.3 Environment Setup
    ; Author: Professor Krasso
    ; Modified by: Shane Hingtgen
    ; Bellevue University
    ; Date: 10/18/2022
    ; Description: In this assignment we created an index page, in the index page we link all of our class assignments
    ; Work Cited: 
        Web 231 Assign_1 doc
        Web 231 HTML, CSS, and JavaScript Requirements
    
    ========================================================================================================================
  */ 
body {
    font-family: 'Oswald';
}
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2, h3, h4 {
    background-color: #3c275a;
    color: white;
    border: 1px solid #D6A800;
    padding: 10px;
}
a {
    color: #453674;
    text-decoration: none;
}
a:hover {
    background-color: #D6A800;
    color: #4f2674;
}
a:visited {
    color: #3c275a;
}
h1#payroll-header {
    text-align: center;
}