/*
    ========================================================================================================================
    ; Title: Assignment 4.2 Number Guessing Game
    ; Author: Professor Krasso
    ; Modified by: Shane Hingtgen
    ; Bellevue University
    ; Date: 10/31/2022
    ; Description: The purpose of this assignment is to create a number guessing game 1-10, you input a number and it returns if
        It is greater than or less then the number, or equal to
    ; Work Cited:
        Web 231 HTML, CSS, and JavaScript Requirements
        Web 231 Assign_4
        
    
    ========================================================================================================================
  */ 

.form {
  display: inline-grid; 
  grid-template-columns: auto;
  padding: 10px;
  /* This is to get the form to look good*/
}

/* after this is submited I want to try and add #form-results and #form-temp to global for don't repeat your self*/
#form-temp {
  width: 600px;
  margin: 3% auto 0;
  /* This is for the first card with the form and button in it*/
}

.app-header {
  text-align: center;
  /* centers the title for the web page*/
}
  
.return-home {
  float: left;
  /* Had to do this in order to get the Return link to be in line of the cards left edge*/
}


#form-results {
  width: 600px;
  margin: 3% auto 0;
  text-align: center;
  /* This is where the card will display its results that were inputted in #form-temp */
}

#temp {
  font-size: 28px;
  /* Font sized for the results in the results card */
}